* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
h1 {
  text-transform: uppercase;
   font-size: 1.7rem;
}

p {
  text-transform: capitalize;
  font-size: 1.2rem;
}
ul {
  display: flex;
  justify-content: space-evenly;
}
ul li {
  list-style: none;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  margin: 0px auto;
  padding: 10px;
  transition: all 0.3s ease-in-out;
}
ul li:hover {
  width: 60px;
  height: 60px;
  padding: 15px;
}
a {
  text-decoration: none;
}
a i {
  font-size: 2rem;
  color: white;
}
.whatsapp {
  background: green;
}
.github {
  background: black;
}
.gmail {
  background: red;
}
.linkedin {
  background: blue;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile-card {
  max-width: 26rem;
  height: 100%;
  padding: 20px;
  background: white;
  border-radius: 7%;
  box-shadow: #dfd4d4 2px 2px 13px 5px;
  position: relative;
}

.profile-card::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 30%;
  border-radius: 23px 23px 0px 0px;
  top: 0;
  left: 0;
  background-color: #0e4df1;
}

.profile-card .img {
  position: relative;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background: blue;
  padding: 2px;
  margin: 1px auto;
}
.profile-card .img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border: 3px solid #ffff;
  border-radius: 50%;
}
.btn-box {
  display: flex;
  justify-content: space-around;
  margin: 3rem auto;
}
.btn {
  padding: 10px 19px;
  border-radius: 19px;
  background-color: #7777d9;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.btn:hover {
  background-color: #0e4df1;
}
.btn a {
  color: black;
}
.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3rem auto;
}
.end {
  display: flex;
  justify-content: space-around;
}
.end .one {
  height: 1rem;
  width: 2px;
  background: black;
}
